%h1 Hello index page!

%table
    %thead
        %tr
            %th Title
            %th Content
            %th Comment Count
            %th{colspan: "3"} Action

    %tbody
        - @articles.each do |article| 
            %tr
                %td= article.title
                %td= article.content
                %td= article.comments.count
                %td= link_to 'Comments', article_comments_path(article.id)
                %td= link_to 'Delete', article, method: :delete, data: {confirm: 'are you sure?'}
